<nb-card accent="primary" status="basic" id="htmlData">
  <nb-card-header>
    <div class="row">
      <div class="lateral">
        <h4>Permisos ordenados por empleado</h4>
      </div>
    </div>

  </nb-card-header>


  <nb-card accent="basic" status="basic" *ngFor="let e of empleados; index as i" [hidden]="this.getPermisosbyEmpleado(e).length == 0">
    <nb-card-header>
      <div class="row">
        <div class="lateral">
          <h5>{{e.nombre}} {{e.apellidos}} --- {{e.nif}}</h5>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <table class="table text-center table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Tipo</th>
          <th>Inicio</th>
          <th>Fin</th>
          <th>Observaciones</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let p of getPermisosbyEmpleado(e); index as i">
          <td class="centerRow">{{i + 1}}</td>
          <td>{{p.tipopermisotrabajo.nombre}}</td>
          <td>{{p.inicio| date: "dd/MM/yyyy"}}</td>
          <td>{{p.fin | date: "dd/MM/yyyy"}}</td>
          <td>{{p.observaciones}}</td>
        </tr>
        </tbody>
      </table>

    </nb-card-body>
  </nb-card>
</nb-card>
<nb-card>
  <nb-card-footer>
    <button nbButton size="medium" shape="round" hero status="primary" (click)="generarPdf()">
      <nb-icon class="sizeXL" icon="printer-outline" [options]="{animation: {type: 'pulse'}}"></nb-icon>
      Imprimir
    </button>
  </nb-card-footer>
</nb-card>

