@import "../../../../@theme/components/styles/themes";

@include nb-install-component() {
  .buttons-row {
    margin: -0.5rem;
  }

  button[nbButton] {
    margin: 0.8rem;
  }

  nb-checkbox:not(:only-child) {
    margin-right: 1.5rem;
  }
  .scroll {
    max-height: 20rem;
    overflow-y: auto;
  }

}


