<button type="button" class="btn btn-secondary float-left" style="width: 40px;" (click)="irRegistro()">
  <nb-icon icon="arrow-ios-back-outline"  [options]="{animation: {type: 'pulse'}}"></nb-icon>
</button>
<nb-card accent="info" status="basic" >
  <nb-card-header>

    <h1>Ayuda registro Accesduino</h1>
  </nb-card-header>
  <nb-card-body>
    <p>Las empresas tienen la obligación de llevar a cabo un registro diario de las horas que realice cada
      empleado, a fin de poder asegurar el control de las horas extraordinarias. Este control, según la
      Audiencia Nacional (AN), debe realizarse incluso en aquellas compañías en las que no se hagan horas extra.</p>

    <p>El Real Decreto-ley 8/2019, de 8 de marzo, de medidas urgentes de protección social y de lucha contra la precariedad
      laboral en la jornada de trabajo, determina que "el registro de jornada, que no de horas
      extraordinarias, es el requisito constitutivo para controlar los excesos de jornada".
      Además, asevera que la negación de este registro "coloca a los trabajadores en situación de indefensión que no
      puede atemperarse porque las horas extraordinarias sean voluntarias, puesto que el único medio de acreditarlas es,
      precisamente, el control diario".</p>

    <p>La creación de un registro, concluye la resolución, eliminará cualquier duda sobre si se hacen o no horas
      extraordinarias y si su realización es voluntaria.</p>

    <p>Con Accesduino quedara resuelto todos estos problemas y se realiza con la comodidad de poder realizar los registros
      con la ultima tecnología. Para ellos utilizaremos Tarjeta RFID que identificara a cada empleado y recogerá el sistema
      tanto la hora de entrada como la de salida y el calculo de las horas de trabajo, extra y absentismo de cada empleado.</p>
  </nb-card-body>
</nb-card>
<nb-card status="basic">
  <nb-card-header>
    <h3>Registro con Tarjetas RFID</h3>
  </nb-card-header>
  <nb-card-body>
    <p>El registro con tarjetas RFID es muy sencillo, tan solo hay que pasar la tarjeta por el lector y se quedara registrado
      la fecha y la hora de la entrada o la salida.</p>
    <p>Una vez que se pasa la tarjeta, si el registro es correcto se encedera la luz verde. Si el registro no es correcto
      se enciende la luz roja </p>

  </nb-card-body>
</nb-card>

<nb-card status="basic">
  <nb-card-header>
    <h3>Registro Manual</h3>
  </nb-card-header>
  <nb-card-body>
    <p>En el caso de que no exista lector de tarjetas RFID, cabe la posibilidad de registrar las entradas y salidas de forma manual.</p>
    <p>En la pantalla se puede introducir a traves del teclado tanto el email como la contraseña que tenga el empleado
    asignado en la base de datos.</p>
    <p>Una vez introducidos los datos se pulsa el botón de registrar y la operativa es la misma que con las tarjetas RFID,
      aparecerá los apellidos y el nombre del empleado en la pantalla, asi como la fecha y hora de la entrada si es de salida y
      la fecha y hora de entrada y salida si es de salida.</p>
  </nb-card-body>

</nb-card>
