<nb-layout windowMode>
  <nb-layout-column class="small">
  </nb-layout-column>

  <nb-layout-column>

    <h1 id="app" style="text-align: center !important;" class="title">Accesduino 3.0</h1>

    <h1 id="title" style="text-align: center !important;" class="title">Registrar Jornada</h1>

    <p class="sub-title" style="text-align: center !important;">Introduce tu mail y password.</p>

    <nb-alert *ngIf="error.length > 0" outline="danger" role="alert">
      <p class="alert-title"><b>Error</b></p>
      <p class="alert-message" *ngFor="let e of error; index as i">{{e}}</p>
    </nb-alert>

    <nb-alert *ngIf="mostrar == 'correcto'" outline="success" role="alert">
      <p class="alert-title"><b>Registro de {{registro.control_terminado ? 'Salida' : 'Entrada'}}  realizado</b></p>
      <p class="alert-message">
        <b>Empleado: </b> {{registro.empleado.nombre}} {{registro.empleado.apellidos}}
      </p>
      <p class="alert-message">
        <b>Entrada: </b> {{registro.inicio | date:'dd/MM/y H:mm'}}
      </p>
      <p class="alert-message" *ngIf="registro.fin != null">
        <b>Salida: </b> {{registro.fin | date:'dd/MM/y H:mm'}}
      </p>
      <p class="alert-message" *ngIf="registro.duracion != null">
        <b>Duración: </b> {{registro.duracion}} horas.
      </p>

    </nb-alert>

    <form [formGroup]="loginForm" (submit)="registrar()">
      <div class="form-control-group">
        <label for="email">Email:</label>
        <input nbInput fullWidth type="email" id="email" formControlName="email"
               class="form-control">
      </div>
      <div class="form-control-group">
        <label for="password">Password:</label>
        <input nbInput fullWidth type="password" id="password" formControlName="password"
               class="form-control">
      </div>
      <div style="padding-top: 10px">
        <button nbButton status="success" type="submit" fullWidth>
          Registrar
          <nb-icon icon="clock-outline"></nb-icon>
        </button>
      </div>
    </form>

    <div style="padding-top: 5px">
      <button type="button" class="btn btn-secondary float-left" (click)="irAdministracion()" style="width: 49%">
        <nb-icon icon="briefcase-outline"  [options]="{animation: {type: 'pulse'}}"></nb-icon> Administración
      </button>
      <button type="button" class="btn btn-secondary float-right" style="width: 49%" (click)="irAyudaRegistro()">
        <nb-icon icon="question-mark-outline"  [options]="{animation: {type: 'pulse'}}"></nb-icon>  Ayuda
      </button>
    </div>

  </nb-layout-column>

  <nb-layout-column class="small">

  </nb-layout-column>

</nb-layout>

<nb-layout-footer>

</nb-layout-footer>
