<button type="button" class="btn btn-secondary float-left" style="width: 40px;" (click)="irLogin()">
  <nb-icon icon="arrow-ios-back-outline"  [options]="{animation: {type: 'pulse'}}"></nb-icon>
</button>
<nb-card accent="info" status="basic" >
  <nb-card-header>
    <h1>Ayuda gestión Accesduino</h1>
  </nb-card-header>
  <nb-card-body>
    <p>Las empresas tienen la obligación de llevar a cabo un registro diario de las horas que realice cada
      empleado, a fin de poder asegurar el control de las horas extraordinarias. Este control, según la
      Audiencia Nacional (AN), debe realizarse incluso en aquellas compañías en las que no se hagan horas extra.</p>

    <p>El Real Decreto-ley 8/2019, de 8 de marzo, de medidas urgentes de protección social y de lucha contra la precariedad
      laboral en la jornada de trabajo, determina que "el registro de jornada, que no de horas
      extraordinarias, es el requisito constitutivo para controlar los excesos de jornada".
      Además, asevera que la negación de este registro "coloca a los trabajadores en situación de indefensión que no
      puede atemperarse porque las horas extraordinarias sean voluntarias, puesto que el único medio de acreditarlas es,
      precisamente, el control diario".</p>

    <p>La creación de un registro, concluye la resolución, eliminará cualquier duda sobre si se hacen o no horas
      extraordinarias y si su realización es voluntaria.</p>

    <p>Con Accesduino quedara resuelto todos estos problemas y se realiza con la comodidad de poder realizar los registros
      con la ultima tecnología. Para ellos utilizaremos Tarjeta RFID que identificara a cada empleado y recogerá el sistema
      tanto la hora de entrada como la de salida y el calculo de las horas de trabajo, extra y absentismo de cada empleado.</p>
  </nb-card-body>
</nb-card>
<nb-card status="basic">
  <nb-card-header>
    <h3>Gestión de Usuarios</h3>
  </nb-card-header>
  <nb-card-body>
    <p>Dentro del menú <strong>Administración - Usuarios - Gestión de usuarios</strong> aparecerá la siguiente pantalla donde se pueden crear,
      modificar o eliminar los sucesivos usuarios y mostrando los datos de cada usuario una vez que se selecciona.</p>
    <img src="assets/images/usuarios_1.png" width="800" height="500" alt="Gestión usuarios"/>
    <img src="assets/images/usuarios_2.png" width="800" height="500" alt="Gestión usuarios"/>
  </nb-card-body>
</nb-card>

<nb-card status="basic">
  <nb-card-header>
    <h3>Gestión de Roles</h3>
  </nb-card-header>
  <nb-card-body>
    <p>Dentro del menú <strong>Administración - Usuarios - Roles</strong> aparecerá la siguiente pantalla donde se pueden crear,
      modificar o eliminar los sucesivos roles y mostrando los datos de cada role una vez que se selecciona.</p>
    <img src="assets/images/rol_1.png" width="800" height="500" alt="Gestión roles"/>
    <img src="assets/images/rol_2.png" width="800" height="500" alt="Gestión roles"/>
  </nb-card-body>
</nb-card>

<nb-card status="basic">
  <nb-card-header>
    <h3>Datos Empresa</h3>
  </nb-card-header>
  <nb-card-body>
    <p>Dentro del menú <strong>Administración - Datos</strong> de empresa aparecerá la siguiente pantalla donde se pueden  modificar los datos de la empresa.</p>
    <img src="assets/images/datosEmpresa.png" width="800" height="500" alt="Datos empresa"/>

  </nb-card-body>
</nb-card>

<nb-card status="basic">
  <nb-card-header>
    <h3>Gestión de Empleados</h3>
  </nb-card-header>
  <nb-card-body>
    <p>Dentro del menú <strong>Empleados - Empleados</strong> aparecerá la siguiente pantalla donde se pueden crear,
      modificar o eliminar los sucesivos Empleados y mostrando los datos de cada Empleado una vez que se selecciona.</p>

    <img src="assets/images/empleado_1.png" width="800" height="500" alt="Gestión empleados"/>
    <img src="assets/images/empleado_2.png" width="800" height="500" alt="Gestión empleados"/>
    <img src="assets/images/empleado_3.png" width="800" height="500" alt="Gestión empleados"/>

  </nb-card-body>
</nb-card>

<nb-card status="basic">
  <nb-card-header>
    <h3>Gestión de Puestos</h3>
  </nb-card-header>
  <nb-card-body>
    <p>Dentro del menú <strong>Empleados - Puestos</strong> aparecerá la siguiente pantalla donde se pueden crear, modificar o eliminar los sucesivos Puestos
      y mostrando los datos de cada Puesto una vez que se selecciona.</p>

    <img src="assets/images/puestos_1.png" width="800" height="500" alt="Gestión puestos"/>
    <img src="assets/images/puestos_2.png" width="800" height="500" alt="Gestión puestos"/>

  </nb-card-body>
</nb-card>

<nb-card status="basic">
  <nb-card-header>
    <h3>Gestión de Horarios</h3>
  </nb-card-header>
  <nb-card-body>
    <p>Dentro del menú <strong>Empleados - Horarios</strong> aparecerá la siguiente pantalla donde se pueden crear, modificar o eliminar los sucesivos Horarios
      y mostrando los datos de cada Horario una vez que se selecciona.</p>

    <img src="assets/images/horario_1.png" width="800" height="500" alt="Gestión Horario"/>
    <p>En la creación o modificación del horario hay que introducir el inicio y el fin o la duración y el tercer dato se calcula automáticamente.</p>
    <img src="assets/images/puestos_2.png" width="800" height="500" alt="Gestión Horario"/>
  </nb-card-body>
</nb-card>

<nb-card status="basic">
  <nb-card-header>
    <h3>Gestión de Tipos de Permisos</h3>
  </nb-card-header>
  <nb-card-body>
    <p>Dentro del menú <strong>Permisos - Tipos Permiso</strong> aparecerá la siguiente pantalla donde se pueden crear, modificar o eliminar los sucesivos Tipos de Permiso
      y mostrando los datos de cada Tipo de Permiso una vez que se selecciona.</p>

    <img src="assets/images/tipos_permisos_1.png" width="800" height="500" alt="Gestión Tipos de Permisos"/>

    <img src="assets/images/tipos_permisos_2.png" width="800" height="500" alt="Gestión Tipos de Permisos"/>
  </nb-card-body>
</nb-card>

<nb-card status="basic">
  <nb-card-header>
    <h3>Gestión de Registros</h3>
  </nb-card-header>
  <nb-card-body>
    <p>Dentro del menú <strong>Registros - Administrar Registros</strong> aparecerá la siguiente pantalla donde se pueden modificar o eliminar los sucesivos Registros
      y mostrando los datos de cada Registro una vez que se selecciona.</p>

    <p>En la columna <strong>Estado</strong> queda reflejado todos los registros que no estan completos. Por lo tanto refleja que están en su puesto de trabajo.</p>

    <img src="assets/images/registros_1.png" width="800" height="500" alt="Gestión Registros"/>
    <p>El total de horas se calcula automático redondeando la horas transcurridas entre <strong>Inicio</strong> y <strong>Fin</strong>.</p>
    <img src="assets/images/puestos_2.png" width="800" height="500" alt="Gestión registros"/>
  </nb-card-body>
</nb-card>

<nb-card status="basic">
  <nb-card-header>
    <h3>Gestión de Registros</h3>
  </nb-card-header>
  <nb-card-body>
    <p>Dentro del menú <strong>Registros - Administrar Registros</strong> aparecerá la siguiente pantalla donde se pueden modificar o eliminar los sucesivos Registros
      y mostrando los datos de cada Registro una vez que se selecciona.</p>

    <p>En la columna <strong>Estado</strong> queda reflejado todos los registros que no estan completos. Por lo tanto refleja que están en su puesto de trabajo.</p>

    <img src="assets/images/registros_1.png" width="800" height="500" alt="Gestión Registros"/>
    <p>El total de horas se calcula automático redondeando la horas transcurridas entre <strong>Inicio</strong> y <strong>Fin</strong>.</p>
    <img src="assets/images/puestos_2.png" width="800" height="500" alt="Gestión registros"/>
  </nb-card-body>
</nb-card>

<nb-card status="basic">
  <nb-card-header>
    <h3>Reportes</h3>
  </nb-card-header>
  <nb-card-body>
    <p>Desde el menú <strong>Reportes</strong> se pueden elegir diferentes informe que pueden exportarse a un pdf.</p>

    <img src="assets/images/reportes_1.png" width="800" height="500" alt="Reportes"/>
    <img src="assets/images/reportes_2.png" width="800" height="500" alt="Reportes"/>

    <p>Los reportes disponibles son:</p>
    <ul>
      <li>Empleados
        <ul>
          <li>Empleados</li>
          <li>Empleados - Puesto</li>
          <li>Empleados -Horario</li>
        </ul>
      </li>
      <li>Permisos
        <ul>
          <li>Permisos</li>
          <li>Permisos - Mes</li>
          <li>Permisos -Personal</li>
        </ul>
      </li>
      <li>Registros
        <ul>
          <li>Registros - Mes</li>
          <li>Registros - Empleados -Mes</li>
        </ul>
      </li>
    </ul>
    <p></p>
    <img src="assets/images/reportes_3.png" width="800" height="500" alt="Reportes"/>
    <img src="assets/images/reportes_4.png" width="800" height="500" alt="Reportes"/>
  </nb-card-body>
</nb-card>

