<nb-card accent="primary" status="basic" id="htmlData">
  <nb-card-header>
    <div class="row">
      <div class="lateral">
        <h4>Empleados ordenados por horarios</h4>
      </div>
    </div>

  </nb-card-header>


  <nb-card accent="basic" status="basic" *ngFor="let h of horarios; index as i" [hidden]="getEmpleadosbyHorario(h).length == 0">
    <nb-card-header>
      <div class="row">
        <div class="lateral">
          <h5>{{h.nombre}}</h5>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <table class="table text-center table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Nif</th>
          <th>Telefono</th>
          <th>Puesto</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let e of getEmpleadosbyHorario(h); index as i">
          <td class="centerRow">{{i + 1}}</td>
          <td>{{e.nombre}}</td>
          <td>{{e.apellidos}}</td>
          <td>{{e.nif}}</td>
          <td>{{e.telefono}}</td>
          <td>{{e.puesto.nombre}}</td>
        </tr>
        </tbody>
      </table>

    </nb-card-body>
  </nb-card>
</nb-card>
<nb-card>
  <nb-card-footer>
    <button nbButton size="medium" shape="round" hero status="primary" (click)="generarPdf()">
      <nb-icon class="sizeXL" icon="printer-outline" [options]="{animation: {type: 'pulse'}}"></nb-icon>
      Imprimir
    </button>
  </nb-card-footer>
</nb-card>

